@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*--primary: #4d8ff7;*/
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "fangyuan";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/8F37ADfHpq6u/Kkw3cgsYeQrY.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/8F37ADfHpq6u/tsHtcw3N9ytt.woff") format("woff");
    font-display: swap;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.public {
    background-blend-mode: color-dodge;
    background-color: rgba(18, 21, 39, 0.86);
    /*background-image: url("https://img-saas-su.oss-cn-beijing.aliyuncs.com/blog/bg.jpg");*/
    background-image: url("https://img-saas-su.oss-cn-beijing.aliyuncs.com/blog/mine/xin.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 2em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.public .md-editor-dark div.mk-cute-theme {
    background-image: none !important;
}

.public .md-editor div.mk-cute-theme {
    background-image: none !important;
}

.public .mk-cute-theme {
    color: var(--primary-text);
    font-family: fangyuan, serif;
    font-weight: 800;
    font-size: 18px;
}

@keyframes x1 {
    from {
        transform: translateY(100px) translateX(-100px);
    }
    to {
        transform: translateY(0) translateX(0);
    }
}

@keyframes x2 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

@keyframes x3 {
    from {
        transform: translateY(100px) translateX(100px) scale(1);
    }
    to {
        transform: translateY(0) translateX(0) scale(1);
    }
}

@keyframes x5 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes x6 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

@layer base {
    :root {
        --background: #e0e5ec;
        --music-background: #fefefe;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-second: #16171a;
        --primary-text: black;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: #fafafa;
        --input: #fefefe;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }

    .dark {

        --background: #16171a;
        --music-background: #0a090b;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-text: white;
        --primary-second: #c7c7c7;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: #303133;
        --input: #000;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


svg.md-editor-icon {
    width: 25px !important;
    height: 25px !important;
}

.write .md-editor-toolbar-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 14px;
    padding-top: 30px;
    z-index: 99;
    background: white;
}

.write .md-editor-toolbar-wrapper {
    overflow: unset;
}

/* start--文本行数限制--start */
.u-line-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u-line-2 {
    -webkit-line-clamp: 2;
}

.u-line-3 {
    -webkit-line-clamp: 3;
}

.u-line-4 {
    -webkit-line-clamp: 4;
}

.u-line-5 {
    -webkit-line-clamp: 5;
}

.u-line-2,
.u-line-3,
.u-line-4,
.u-line-5 {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.heart-container:hover .hover-circle {
    opacity: 1;
}
